

.answer_dropdown {
    position: relative;
    display: inline-block;
}

.answer_dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
    height: 200px;
    width:900px;
    overflow: scroll
}


.answer_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    width: 830px;
    height: auto;
    background-color: #f1f1f1;
  }

  .answer_row{
    margin: 0;
    float: left;
    height: auto;
    padding: 10px
    }


.show {display: block;}